body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #7b1840;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo img {
    height: 95px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #ffdddd;
    transition: color 0.3s;
}
#pagina1{
    width: 100%;
} 
#pagina1 .section-title{
    text-align: center;
    font-size: clamp(1rem, 4vw, 3rem);
    color: #692c54;
    text-transform: uppercase;
}
.grid-produtos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.produto-card{
    justify-items:center;
    margin: 20px 15px;
    background-color: #8c69777a;
    width: 25%;
}
.produto-card img{
    width: 90%;
}
/* Esconde o hambúrguer no desktop */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffdddd;
    transition: all 0.3s ease;
}
.hero{
    position: relative; 
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hero img {
    max-width: 1500px;
    width: 100%;
    height: auto;
    display: block;
}
.hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-content h1 {
    font-size: clamp(2rem, 5vw, 6rem);
    color:#7b1840 ;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    top: -40px
}
.hero-content button {
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #7b1840;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    align-self: flex-start; 
}
.hero-content button:hover {
    background-color:#5c2147;
}

/* --- 3. Responsividade (Telas até 768px) --- */
@media (max-width: 768px) {
    .hamburger {
        display: flex; 
    }
    .nav-links {
        position: absolute;
        top: 90px;
        right: -100%;
        flex-direction: column;
        background-color: #7b1840c4;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        padding: 2rem 0;
    }
    .nav-links.active {
        right: 0;
    }
    .nav-links li {
        margin: 1.5rem 0;
    }
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}