body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #7b1840;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo img {
    height: 95px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #ffdddd;
    transition: color 0.3s;
}
#pagina1{
    width: 100%;
} 
#pagina1 .section-title{
    text-align: center;
    font-size: 10vh;
}
.grid-produtos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.produto-card{
    margin: 20px 15px;
    background-color: #8c69777a;
    width: 25%;
}
.produto-card img{
    width: 100%;
}
/* Esconde o hambúrguer no desktop */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffdddd;
    transition: all 0.3s ease;
}
.hero{
    margin:0;
    padding: 0;
    background-image: url('img/download\ \(2\).jpg');
    background-size: cover;      
    background-repeat: no-repeat;
    min-height: 100vh;
}
/* --- 3. Responsividade (Telas até 768px) --- */
@media (max-width: 768px) {
    .hamburger {
        display: flex; /* Mostra o hambúrguer no mobile */
    }

    .nav-links {
        position: absolute;
        top: 90px; /* Altura aproximada do seu cabeçalho */
        right: -100%; /* Esconde o menu para fora da tela */
        flex-direction: column;
        background-color: #7b1840c4;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        padding: 2rem 0;
    }

    /* Quando o JS ativar a classe, o menu entra na tela */
    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    /* BÔNUS: Efeito visual no botão Hambúrguer virando um "X" */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}